{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/pattern_generator.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Catamaran' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
        <title>Pattern Generator</title>
    </head>
    <body>
        <div class="page-header">
            <h1>Pattern Generator</h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>